h2 {
  font-size: 25px;
  font-weight: bold;
  color: #A3838E;
  text-align: center;
  font-family: 'Quicksand', sans-serif;

  table {
    width: 100%;
  }
}

h1{
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin-top: 50px;
  background-color: #F8FAF5;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

footer {
  bottom: 0px;
  height: 100px;
  text-align: center;
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
  background-color: #57323F;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #57323F;
  line-height: 50px;
  font-family: 'Quicksand', sans-serif;
  border: 1px #3E1D29;
}

.profile-img {
  width: 50px;
  position: absolute;
 	left: 12px;
  bottom: 12px;
}

nav ul {
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li {
  display: inline;
  margin-left: 60px;
}

nav li a:hover {
  color: #DEB7C5;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style-type: none;
}

prik {
  display: inline-block;
  width: 320px;
  text-align: center;
}
